
      <div class="row">
        <section class="main col-md-9">
          <article>
            <h2>About</h2>
            <p>Arma virumque cano</p>
            <p>I sing of arms and a man,</p>
            <p>a fugitive by fate,</p>
            <p>
              who first came from the trojan shore to the Italian and Lavinian
              shores,
            </p>
            <p>
              that man who was both scattered on the lands and in the deep many
              times by the power of the gods,
            </p>
            <p>
              (and who was) mindful of the Juno's cruelty on acount of her anger
            </p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Stay tuned for future updates....</p>
        </aside>
      </div>
    